<div class="info">
  <%= image_tag 'title.png', class: "info__title"  %>
  <div class="info__subtitle">
    Добро пожаловать на Гонки Дизельных Ебланов!
  </div>
  <div class="info__text">
    <p>Регистрируйтесь (если укажете настоящей имейл, мы будем присылать апдейты не чаще пары раз в неделю) и делайте ставки на этапы гонки.</p>
    <p>Проебом считается несдача с первого раза, успехом — сдача с первого раза. За выигрыш обычной ставки получаете x2, за выигрыш последних двух (теория гаи и практика гаи) аж x5!!</p>
    <p>Но будте осторожны со ставками на дальней перспективе, ваш еблан может выбыть из гонки, а автошкола ввести дополнительный промежуточный зачет. Отменить ставку нельзя, будьте внимательны и берегите себя</p>
  </div>
  <div class="flash-suc">
    <%= flash[:success] %>
  </div>
  <div class="flash-err">
    <%= flash[:error] %>
  </div>
</div>