<div class="info">
  <%= image_tag 'title.png', class: "info__title"  %>
  <div class="info__subtitle">
    Добро пожаловать на Гонки Дизельных Ебланов!
  </div>
  <div class="info__text">
    <p>Регистрируйтесь и делайте ставки на этапы гонки. Даты прохождения этапов гонки будут проставляться как только, так сразу.</p>
    <p>Ставки прекращают приниматься за два часа до начала этапа. Окончательный подсчет после того, как группа сдаст практику в ГАИ (последний этап) или когда последний еблан совершит первую попытку, если сдавать будем не всей группой </p>
    <p>Если еблана переводят в другую группу и нарушится синхронность (например из-за того, что Дима слишком долго делает справу), я хуй знает, как будет работать игра, так что давайте этого просто не случится  </p>
    <p>Ставим на проеб или успех. Проебом считается несдача с первой попытки, успехом — сдача с первой попытки. За выигрыш обычной ставки получаете x2, за выигрыш последних двух (теория гаи и практика гаи) аж x5!!Ставим на успех или проеб.</p>
    <p>Но будте осторожны со ставками на дальней перспективе, ваш еблан может выбыть из гонки, а автошкола ввести дополнительный промежуточный зачет. Отменить ставку НЕЛЬЗЯ, будьте внимательны и берегите себя</p>
  </div>
  <div class="flash-suc">
    <%= flash[:success] %>
  </div>
  <div class="flash-err">
    <%= flash[:error] %>
  </div>
</div>