<div class="leaderboard">
  <div class="leaderboard__title">Наши лидеры</div>
  <div class="leaderboard__item">
    <div class="leaderboard__name">Лупа</div>
    <div class="leaderboard__quantity">10000</div>
  </div>
  <div class="leaderboard__item">
    <div class="leaderboard__name">Пупа</div>
    <div class="leaderboard__quantity">100</div>
  </div>
  <div class="leaderboard__item">
    <div class="leaderboard__name">Залупа</div>
    <div class="leaderboard__quantity">1000</div>
  </div>
  <div class="leaderboard__item">
    <div class="leaderboard__name">Ты пидор</div>
    <div class="leaderboard__quantity">100</div>
  </div>
</div>