<div class="leaderboard">
  <div class="leaderboard__title">Наши лидеры</div>
  <% @leaders.each do |leader| %>
  <div class="leaderboard__item">
    <div class="leaderboard__name"><%= leader.name %></div>
    <div class="leaderboard__quantity"><%= leader.points %></div>
  </div>
  <% end %>
</div>