*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

p {
  margin: 0;
}

body {
  font-family: 'Comic Sans MS', cursive;
  line-height: 1.4;
  font-size: 14px;
  background-color: #000;
  color: #fff;
}

.container {
  min-height: 100vh;
  padding: 100px 50px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: initial !important;
  background-color: grey;
}

.logboard {
  margin-right: 100px;
  flex-grow: 1;
  overflow-y: scroll;
  height: 300px;
}

.container:before, .container:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  background: url("./images/flag.png") repeat-x top center;
  background-size: contain;
  filter: invert(1);
}

.container:before {
  top:0;
}

.container:after {
  bottom: 0;
}


.info {
  width: 70%;
}

.info__title {
  max-width: 100%;
  margin-bottom: 40px;
}

.info__subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.info__text p:not(:last-child) {
  margin-bottom: 10px;
}

.leaderboard {
  margin-left: 100px;
  flex-grow: 1;
}

.leaderboard__title {
  padding: 10px;
  font-size: 18px;
}

.leaderboard__item {
  display: flex;
  padding: 10px;
}

.progressbar__item + .progressbar__item {
  margin-top: 50px;
}

.leaderboard__item + .leaderboard__item  {
  border-top: 1px solid #fff;
}

.leaderboard__quantity {
  padding-left: 20px;
  margin-left: auto;
}


.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.progressbar {
  width: 100%;
  padding-top: 10vh;
}

.progressbar__item {
  display: flex;
  align-items: flex-start;
}

.progressbar__name {
  margin: -7px 20px 0 0;
  width: 50px;
}

.progressbar__line {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.progressbar__fill {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--value) * 100% / var(--total));
  border-top: 10px solid #ff6200;
  height: 100%;
  z-index: 1;
}

.progressbar__fill:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  top: -20px;
  background: url("./images/flame-bg.png") repeat-x bottom;
  background-size: contain;
}

.progressbar__checkpoint {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  word-break: break-word;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.progressbar__checkpoint:before {
  content: '';
  display: block;
  height: 10px;
  width: 100%;
  background-color: #ccc;
  transition: all 0.3s ease;
}

.progressbar__checkpoint:not(:last-child):before {
  border-right: 2px solid #fff;
}

.progressbar__checkpoint:hover {
  color: #ffdc00;
}

.progressbar__checkpoint:hover:before {
  background-color: #ffdc00;
}

.progressbar__image {
  position: absolute;
  top: -30px;
  right: 0;
  transform: translateX(50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: contain;
  z-index: 2;
}

.progressbar__flame {
  position: absolute;
  top: -24px;
  right: -12px;
  z-index: 1;
  width: 100px;
}

.button {
  padding: 4px 8px 6px;
  font-family: inherit;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #000;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.dropdown {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 15px;
  min-width: 200px;
  max-height: 50vh;
  overflow: auto;
  transition: all 0.3s ease;
  z-index: 1;
}

.stakes-info {
  color: black;
  white-space: nowrap;
  margin-bottom: 10px;
}

.dropdown__opener:not(:hover) .dropdown {
  opacity: 0;
  pointer-events: none;
}

.dropdown__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding: 4px 0;
}

.dropdown__actions {
  display: flex;
  justify-content: space-between;
}

.dropdown__actions button {
  width: calc(50% - 5px);
}

.logboard p:not(:last-child) {
  margin-top: 15px;
}

.logboard span:nth-child(1) {

}

.logboard span:nth-child(1) {
  color: red;
}

.logboard span:nth-child(2) {
  color: orange;
}

.logboard span:nth-child(3) {
  color: yellow;
}

.logboard span:nth-child(4) {
  color: #4cff4c;
}

.logboard span:nth-child(5) {
  color: blue;
}

.logboard span:nth-child(6) {
  color: purple;
}

.logboard span:nth-child(7) {
  color: hotpink;
}

.flash-suc {
  background-color: gold;
  color: blue;
  font-size: large;
  position: fixed;
  left: 50%;
}

.flash-err {
  background-color: red;
  color: blue;
  font-size: large;
  position: fixed;
  left: 50%;
}

.nikitos-height {
  height: 220px;
  overflow-y: scroll;
}