<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand pretty" href="#">Домой</a>
  <span class="navbar-text">
      Navbar text with an inline element
    </span>
</nav>
