<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand pretty" href="#">Домой</a>
  <span class="navbar-text">
      <%= link_to('Register', new_user_registration_path) %>
  </span>
</nav>
